In [2]:
import pandas as pd
import datetime

In [3]:
df = pd.read_csv('parsed2.csv',header=None, names = range(18), nrows = 11000000)

C:\Users\Hurle\AppData\Local\Temp\ipykernel_1644\1427644825.py:1: DtypeWarning: Columns (4,6,8,9,10,11,12,13,14,15,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('parsed2.csv',header=None, names = range(18), nrows = 11000000)

In [3]:
df[df[0] == "S"]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,S,0,0,10970642174571,O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237169,S,0,0,14400000186600,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10411212,S,0,0,34200000075128,Q,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
sys_df = df[df[0] == "S"]
sys_df = sys_df[[0,1,2,3,4]]
sys_df.columns = ["Code","num1","num2","ts","sys_code"]

In [5]:
stock_df = df[df[0] == 'R']
stock_df = stock_df.reset_index(drop=True)
stock_df.columns = ["Message_type","Stock_locate","Tracking_num","Ts","Stock","Market_cat","Financial_status","Round_lot_size","Round_lots_only","issue_class","issue_subtype","authenticity","SSTI","IPO","LULD","ETP","Lev","Inv"]

In [6]:
stock_df

,Message_type,Stock_locate,Tracking_num,Ts,Stock,Market_cat,Financial_status,Round_lot_size,Round_lots_only,issue_class,issue_subtype,authenticity,SSTI,IPO,LULD,ETP,Lev,Inv
0,R,1,0,11240690615180,A,N,,100,N,C,Z,P,N,,1,N,0.0,N
1,R,2,0,11240690740789,AA,N,,100,N,C,Z,P,N,,1,N,1.0,N
2,R,3,0,11240690786821,AAAU,P,,100,N,Q,I,P,N,,2,Y,1.0,N
3,R,4,0,11240690840751,AABA,Q,N,100,N,C,Q,P,N,N,2,N,1.0,N
4,R,5,0,11240690884618,AAC,N,,100,N,C,Z,P,N,,2,N,0.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8844,R,8845,0,11240925383765,ZXYZ.A,Q,N,100,N,C,Z,T,N,N,2,N,1.0,N
8845,R,8846,0,11240925418549,ZXZZT,G,N,100,N,W,Z,T,N,N,2,N,1.0,N
8846,R,8847,0,11240925445584,ZYME,N,,100,N,C,Z,P,N,,2,N,1.0,N
8847,R,8848,0,11240925470514,ZYNE,G,N,100,N,C,Z,P,N,N,2,N,0.0,N
8848,R,8849,0,11240925495553,ZYXI,S,N,100,N,C,Z,P,N,N,2,N,1.0,N

In [7]:
#TS operations
stock_df["Ts_seconds"] = stock_df['Ts']/1e9
stock_df["Ts_stamp"] = stock_df["Ts_seconds"].apply(lambda x: datetime.datetime(2023,2,27) + datetime.timedelta(seconds = x))

In [8]:
#Stock_name operations
stock_df["Stock_normalized"] = stock_df["Stock"].apply(lambda x: x.split(" ")[0])

In [9]:
#Create Dictionary of stock locate ids
locate_dic = dict(zip(stock_df["Stock_locate"],stock_df["Stock_normalized"]))
rev_locate = {v: k for k,v in locate_dic.items()}

In [10]:
def normalize_series_name(sers):
    return sers.apply(lambda x: x.split(" ")[0])

def normalize_time(sers):
    return sers.apply(lambda x: datetime.datetime(2023,2,27) + datetime.timedelta(seconds = x/1e9))

In [12]:
exec_df = df[df[0] == 'E'][[0,1,2,3,4,5,6]].reset_index(drop=True)
exec_df.columns = ["Message_code","Locate","Track","Ts","Ref","Shares","Match"]
exec_df["Stock_normalized"] = exec_df["Locate"].apply(lambda x: locate_dic[x].split(' ')[0])
exec_df["Ts_norm"] = normalize_time(exec_df[exec_df["Stock_normalized"] == 'AAPL']["Ts"])

In [13]:
aapl_df = exec_df[exec_df["Stock_normalized"] == 'AAPL'].reset_index(drop=True)

In [62]:
aapl_adds = df[(df[0]=='A') & (df[7] == 'AAPL    ')]
aapl_adds = aapl_adds.iloc[:,0:9]
aapl_adds = aapl_adds.reset_index(drop=True)
aapl_adds.columns = ["Mess","Stock","Track","Ts","Order","BS","Shares","Stock_name","Price"]
aapl_adds["Stock_name"] = aapl_adds["Stock_name"].apply(lambda x: x.split(" ")[0])
aapl_adds["Price"] = aapl_adds["Price"].astype(float)
aapl_adds["Price"] /= 1e4
aapl_adds["Order"] = aapl_adds["Order"].astype(int)

In [63]:
aapl_adds

     Mess  Stock  Track              Ts    Order BS  Shares Stock_name   Price
0       A     14      0  14400023941081    17613  B      53       AAPL  189.86
1       A     14      0  14400756946890    52437  S       1       AAPL  217.05
2       A     14      0  14400761460097    52669  B       1       AAPL  205.20
3       A     14      0  14400769923694    53005  B       3       AAPL  201.48
4       A     14      0  14400771392054    53069  S       2       AAPL  228.00
...   ...    ...    ...             ...      ... ..     ...        ...     ...
5571    A     14      0  34201097623576  9919517  B   100.0       AAPL  208.61
5572    A     14      0  34201097676372  9919537  B     5.0       AAPL  208.61
5573    A     14      0  34201140584010  9927785  S  1200.0       AAPL  208.66
5574    A     14      0  34201259074296  9948741  B   250.0       AAPL  208.52
5575    A     14      0  34201265007632  9949761  S   100.0       AAPL  210.69

[5576 rows x 9 columns]

In [64]:
aapl_mpid_adds = df[(df[0]=='F') & (df[7] == 'AAPL    ')]
aapl_mpid_adds = aapl_mpid_adds.iloc[:,0:10]
aapl_mpid_adds = aapl_mpid_adds.reset_index(drop=True)
aapl_mpid_adds.columns = ["Mess","Stock","track","ts","match","side","shares","stock_name","price","mpid"]
aapl_mpid_adds["stock_name"] = aapl_mpid_adds["stock_name"].apply(lambda x: x.split(" ")[0])
aapl_mpid_adds["price"] = aapl_mpid_adds["price"].astype(float)
aapl_mpid_adds["price"] /= 1e4
aapl_mpid_adds["match"] = aapl_mpid_adds["match"].astype(int)

In [25]:
aapl_mpid_adds

,Mess,Stock,track,ts,match,side,shares,stock_name,price,mpid
0,F,14,0,27537701776068,4009485,B,100.0,AAPL,0.01,NITE
1,F,14,0,27537701781491,4009489,S,100.0,AAPL,199999.99,NITE
2,F,14,0,32047771123323,6600101,B,100.0,AAPL,171.47,SGAS
3,F,14,0,32047771140623,6600105,S,100.0,AAPL,244.24,SGAS
4,F,14,0,32050751925530,6606301,B,100.0,AAPL,171.47,SGAS
...,...,...,...,...,...,...,...,...,...,...
89,F,14,0,34200284491468,5510453,S,40,AAPL,209.00,UBSS
90,F,14,0,34200284491468,7325717,S,62,AAPL,209.00,UBSS
91,F,14,0,34200703980871,6018497,S,30.0,AAPL,209.20,UBSS
92,F,14,0,34200774686779,9789945,B,100.0,AAPL,166.85,UBSS
93,F,14,0,34200874465854,9827777,S,100.0,AAPL,250.39,UBSS

In [65]:
aapl_cancels = df[(df[0]=='X') & (df[1] == 14)]
aapl_cancels = aapl_cancels.iloc[:,0:6].reset_index(drop=True)
aapl_cancels.columns = ["Mess","stock","track","ts","match","shares"]
aapl_cancels["stock_name"] = aapl_cancels["stock"].apply(lambda x: locate_dic[x].split(" ")[0])
aapl_cancels["match"] = aapl_cancels["match"].astype(int)

In [35]:
aapl_cancels

        Mess  stock  track              ts    match shares stock_name
2065877    X     14      0  19843248546060   665097      4       AAPL
5120210    X     14      0  29029436117009  5032457    100       AAPL
5187733    X     14      0  29163339026316  5136353      5       AAPL
5352189    X     14      0  29585349397538  5287781    574       AAPL
5385626    X     14      0  29670384095385  5287781     10       AAPL
7005409    X     14      0  32343722414878  6731421      6       AAPL
7007777    X     14      0  32344313096913  6731421      1       AAPL
7016355    X     14      0  32346379562677  6731421      7       AAPL
7017628    X     14      0  32346952246952  6731421     32       AAPL
7018794    X     14      0  32347073361379  6731421      1       AAPL
7086524    X     14      0  32372190503760  6731421      3       AAPL
7088440    X     14      0  32374496621907  6731421      8       AAPL
7088554    X     14      0  32374680202669  6731421      4       AAPL
7089082    X     14      0  32375601256943  6731421      2       AAPL
7403595    X     14      0  32605392800159  7154109      2       AAPL
7406128    X     14      0  32609135674833  6844753     13       AAPL
7499539    X     14      0  32712676657816  7235833     50       AAPL
7518113    X     14      0  32731176640542  7235833      3       AAPL
7861525    X     14      0  33175284921905  7499941    100       AAPL
7902885    X     14      0  33229670508024  7499941      1       AAPL
8017145    X     14      0  33356746512243  7621085     10       AAPL
8057221    X     14      0  33385704970203  7621085     25       AAPL
8617556    X     14      0  33855305522909  7943617      1       AAPL
8645887    X     14      0  33885730595732  7943617      1       AAPL
8774582    X     14      0  34009740755832  7943617      5       AAPL
8804935    X     14      0  34027320740315  7943617      2       AAPL

In [67]:
aapl_dels = df[(df[0]=='D') & (df[1] == 14)]
aapl_dels = aapl_dels.iloc[:,0:5].reset_index(drop=True)
aapl_dels.columns = ["Mess","stock","track","ts","match"]
aapl_dels["match"] = aapl_dels["match"].astype(int)

In [66]:
aapl_dels["match"]

0         99549
1         99553
2         99645
3        104297
4        104177
         ...
3218    9834853
3219    9834701
3220    9844553
3221    9919517
3222    9844505
Name: match, Length: 3223, dtype: object

In [68]:
aapl_replaces = df[(df[0]=='U') & (df[1] == 14)]
aapl_replaces = aapl_replaces.iloc[:,0:8].reset_index(drop=True)
aapl_replaces.columns = ["Mess","stock","track","ts","match1","match2","shares","price"]
aapl_replaces["price"] = aapl_replaces["price"].astype(float)/1e4
aapl_replaces["match1"] = aapl_replaces["match1"].astype(int)
aapl_replaces["match2"] = aapl_replaces["match2"].astype(int)

In [69]:
aapl_replaces

   Mess  stock  track              ts   match1   match2 shares   price
0     U     14      0  34140265906478  9170025  9173997    100  214.73
1     U     14      0  34156614968284  9170021  9210005    100  202.07
2     U     14      0  34156615015926  9173997  9210013    100  214.71
3     U     14      0  34156630598645  9210013  9210041    100  214.66
4     U     14      0  34164035937297  9210005  9225325    100  202.00
..  ...    ...    ...             ...      ...      ...    ...     ...
63    U     14      0  34200931996535  9834729  9850401  100.0  214.97
64    U     14      0  34201097668069  9834953  9919529   16.0  208.61
65    U     14      0  34201097794810  9837441  9919569  100.0  202.35
66    U     14      0  34201143374704  9919569  9928173  100.0  202.25
67    U     14      0  34201143393570  9850401  9928181  100.0  214.92

[68 rows x 8 columns]

In [103]:
price_dic = dict(zip(aapl_adds["Order"],aapl_adds["Price"]))
price_dic.update(zip(aapl_mpid_adds["match"],aapl_mpid_adds["price"]))
price_dic.update(zip(aapl_replaces["match2"],aapl_replaces["price"]))

In [85]:
price_dic

{17613: 189.86,
 52437: 217.05,
 52669: 205.2,
 53005: 201.48,
 53069: 228.0,
 53713: 190.0,
 53761: 207.22,
 54141: 175.09,
 54689: 187.5,
 55197: 185.0,
 55373: 214.0,
 55465: 240.0,
 55925: 211.0,
 57077: 190.01,
 57097: 204.53,
 57465: 219.6,
 57641: 178.9,
 57897: 195.0,
 57993: 209.9,
 99549: 207.23,
 99553: 207.18,
 99645: 209.92,
 101737: 209.0,
 101757: 200.0,
 101761: 209.01,
 101765: 208.96,
 102093: 255.0,
 102109: 210.6,
 102125: 215.0,
 102409: 182.0,
 102601: 225.0,
 102609: 217.5,
 102645: 250.0,
 102653: 171.0,
 102757: 196.83,
 102793: 169.5,
 104177: 209.91,
 104297: 209.9,
 115153: 208.0,
 128393: 209.68,
 128445: 209.67,
 128449: 209.72,
 135173: 209.3,
 135213: 209.2,
 138593: 209.8,
 139645: 209.35,
 139805: 209.21,
 139829: 210.2,
 140421: 209.23,
 140473: 209.4,
 140789: 209.2,
 141005: 209.25,
 142589: 209.2,
 142977: 209.23,
 145785: 209.24,
 146845: 209.45,
 148381: 209.25,
 148597: 209.26,
 151809: 209.28,
 152065: 209.19,
 153065: 209.14,
 153181: 209.17,
 154525: 209.18,
 155493: 209.19,
 158133: 209.2,
 158405: 209.21,
 162613: 209.23,
 163181: 209.25,
 163497: 209.26,
 164145: 209.21,
 164369: 209.23,
 165377: 209.19,
 165857: 209.2,
 168709: 207.5,
 173633: 209.0,
 182781: 209.34,
 183421: 209.27,
 185937: 209.2,
 186717: 209.28,
 187709: 207.0,
 187749: 209.85,
 187753: 209.3,
 187981: 209.34,
 188261: 209.28,
 188381: 209.3,
 190285: 209.31,
 190401: 209.24,
 191165: 209.31,
 193205: 209.22,
 193465: 206.0,
 193929: 209.31,
 197333: 205.0,
 200701: 209.32,
 200985: 209.34,
 214973: 209.3,
 215205: 209.84,
 215317: 209.32,
 217581: 209.33,
 220569: 209.34,
 232837: 202.5,
 235069: 209.54,
 236893: 200.0,
 237481: 209.81,
 237805: 209.78,
 238997: 209.77,
 241773: 209.76,
 241817: 209.3,
 242225: 209.45,
 242293: 209.31,
 246061: 209.81,
 246113: 209.33,
 249725: 209.79,
 252609: 209.29,
 253541: 209.45,
 253565: 209.71,
 254093: 209.3,
 257425: 209.4,
 257437: 209.3,
 257617: 209.69,
 257945: 209.68,
 258453: 209.67,
 258833: 209.4,
 258933: 209.65,
 259969: 209.64,
 260705: 209.74,
 261925: 209.73,
 262453: 209.31,
 263237: 209.63,
 265565: 209.62,
 266889: 209.61,
 292741: 208.0,
 301525: 209.5,
 305661: 209.5,
 308181: 209.49,
 318389: 209.32,
 318393: 209.65,
 319661: 209.33,
 320909: 209.34,
 321689: 209.55,
 323937: 209.55,
 329065: 209.35,
 332145: 209.41,
 332149: 209.83,
 332213: 209.9,
 333117: 209.44,
 333713: 209.89,
 333717: 209.34,
 335357: 209.36,
 335549: 209.39,
 335553: 209.36,
 335557: 209.31,
 335765: 209.34,
 335837: 209.88,
 335965: 209.36,
 336029: 209.4,
 336033: 209.36,
 336181: 209.26,
 336185: 209.31,
 338593: 197.5,
 341225: 209.87,
 348073: 195.0,
 353029: 192.5,
 357353: 192.0,
 360181: 209.85,
 363089: 209.0,
 363373: 187.5,
 369305: 185.0,
 372973: 182.5,
 373677: 209.86,
 376693: 209.5,
 376705: 209.35,
 380625: 209.85,
 382629: 209.36,
 389285: 227.0,
 391565: 190.0,
 395369: 209.32,
 396917: 209.34,
 400629: 209.3,
 406465: 209.36,
 408645: 209.84,
 411117: 209.37,
 412861: 209.38,
 420173: 209.39,
 420865: 209.52,
 421585: 209.88,
 422593: 209.87,
 423029: 209.4,
 431337: 215.31,
 432205: 209.36,
 435661: 209.37,
 437237: 209.38,
 438793: 209.39,
 461885: 209.49,
 464309: 209.35,
 464381: 209.99,
 464681: 209.36,
 479473: 209.86,
 488065: 209.37,
 488213: 209.39,
 488393: 209.4,
 489365: 209.19,
 489813: 209.24,
 492233: 209.79,
 492237: 209.84,
 492749: 209.49,
 492797: 209.66,
 493117: 209.19,
 493369: 209.21,
 493757: 209.22,
 494953: 209.23,
 497505: 209.19,
 497905: 209.2,
 500825: 209.21,
 511013: 209.17,
 511537: 209.18,
 513077: 209.2,
 513237: 209.64,
 513453: 209.21,
 514037: 209.22,
 515433: 209.45,
 517365: 209.01,
 517369: 208.96,
 519897: 208.48,
 520109: 208.97,
 520133: 209.01,
 520369: 209.25,
 530013: 208.88,
 530281: 208.97,
 530749: 208.9,
 530869: 209.43,
 530885: 208.88,
 531485: 208.9,
 532489: 208.92,
 532753: 208.93,
 533745: 209.05,
 537521: 209.42,
 537545: 208.94,
 538173: 209.41,
 538429: 208.87,
 540193: 208.88,
 542445: 208.9,
 542629: 205.03,
 544389: 208.0,
 547605: 208.92,
 565181: 209.0,
 582593: 209.4,
 603473: 208.93,
 603549: 209.44,
 604029: 209.43,
 609453: 209.42,
 612665: 209.41,
 613393: 209.4,
 621697: 208.87,
 634521: 209.0,
 635041: 208.83,
 636021: 208.84,
 644985: 209.35,
 645061: 209.35,
 645089: 209.35,
 645169: 209.35,
 645353: 209.35,
 651929: 209.0,
 654121: 208.95,
 664265: 209.39,
 665097: 210.0,
 681545: 209.08,
 682241: 209.38,
 691697: 208.8,
 691861: 208.81,
 693733: 208.82,
 703281: 209.37,
 705349: 208.83,
 709461: 208.85,
 711381: 208.8,
 713949: 208.87,
 720365: 209.0,
 729377: 208.88,
 731221: 209.3,
 733233: 208.89,
 750965: 209.41,
 752425: 209.4,
 758761: 209.39,
 761417: 209.1,
 761429: 209.37,
 761601: 208.82,
 761625: 209.32,
 761785: 209.3,
 762349: 209.14,
 762353: 209.09,
 763317: 208.9,
 764365: 208.64,
 764581: 208.57,
 764705: 208.39,
 764921: 208.66,
 765117: 208.48,
 765141: 208.01,
 765281: 207.96,
 765581: 208.85,
 765597: 208.39,
 766521: 208.8,
 770901: 208.44,
 771353: 208.46,
 771693: 208.48,
 773477: 207.0,
 776105: 208.99,
 776113: 209.06,
 777025: 208.49,
 777549: 208.5,
 786093: 208.55,
 792925: 208.46,
 793133: 208.49,
 795697: 209.05,
 796933: 208.53,
 797093: 208.55,
 799153: 208.56,
 801357: 208.98,
 801361: 209.03,
 805217: 209.0,
 809333: 208.57,
 810793: 203.11,
 818061: 208.97,
 818089: 208.98,
 818841: 208.58,
 819117: 208.53,
 821785: 208.0,
 831033: 208.75,
 845269: 208.97,
 846349: 208.72,
 853437: 208.54,
 867869: 208.55,
 867945: 208.9,
 867961: 208.57,
 868485: 208.59,
 869953: 208.3,
 874689: 208.9,
 874693: 208.54,
 882189: 208.55,
 886769: 200.05,
 893345: 208.56,
 896217: 208.57,
 903749: 208.48,
 911841: 208.96,
 911857: 208.97,
 922049: 208.95,
 924181: 208.49,
 930993: 208.5,
 943985: 209.01,
 944869: 208.51,
 947813: 208.52,
 957713: 208.53,
 961113: 208.54,
 961689: 209.05,
 961929: 208.55,
 969061: 208.56,
 972069: 208.98,
 978193: 208.57,
 982473: 208.85,
 982529: 208.53,
 982549: 209.03,
 983277: 209.01,
 983653: 208.99,
 983865: 208.98,
 984521: 208.97,
 992649: 209.5,
 1004913: 208.96,
 1010501: 209.5,
 1013385: 208.49,
 1014577: 208.5,
 1015969: 208.95,
 1016449: 208.8,
 1016461: 208.95,
 1028077: 208.51,
 1033781: 208.77,
 1035069: 208.94,
 1036625: 208.47,
 1036689: 208.93,
 1038745: 208.52,
 1052277: 208.77,
 1060077: 208.53,
 1070745: 208.54,
 1074909: 209.0,
 1075057: 208.98,
 1077257: 208.97,
 1077909: 208.96,
 1087777: 208.95,
 1091353: 208.5,
 1091957: 208.51,
 1094061: 208.77,
 1094185: 208.53,
 1097677: 208.54,
 1150573: 208.7,
 1174593: 208.5,
 1175141: 208.51,
 1176297: 208.65,
 1193821: 208.52,
 1203305: 208.53,
 1222437: 208.54,
 1232473: 208.75,
 1234405: 208.55,
 1242509: 208.56,
 1256525: 208.95,
 1258433: 208.52,
 1259225: 208.53,
 1271949: 208.49,
 1272353: 208.5,
 1272713: 208.51,
 1294333: 208.47,
 1312877: 208.43,
 1313089: 208.44,
 1313873: 208.45,
 1315141: 208.61,
 1315145: 208.66,
 1315149: 209.0,
 1318285: 209.07,
 1318393: 209.05,
 1319613: 209.04,
 1322121: 182.0,
 1332633: 208.5,
 1332665: 209.03,
 1332825: 209.01,
 1333085: 208.96,
 1333589: 208.51,
 1341325: 208.52,
 1343333: 208.54,
 1347341: 208.95,
 1383973: 208.5,
 1384149: 208.51,
 1386917: 208.52,
 1404897: 208.48,
 1405185: 208.49,
 1405745: 208.5,
 1418777: 208.51,
 1455685: 208.47,
 1456221: 208.48,
 1457885: 208.49,
 1460489: 208.5,
 1460657: 208.53,
 1460917: 208.48,
 1461377: 208.49,
 1475065: 208.44,
 1488837: 208.45,
 1489761: 208.46,
 1490273: 208.47,
 1514149: 208.48,
 1525481: 208.44,
 1526313: 208.45,
 1543805: 208.5,
 1546041: 208.6,
 1547065: 208.46,
 1548265: 208.47,
 1550241: 208.48,
 1560945: 208.44,
 1561237: 208.45,
 1562337: 208.46,
 1566261: 208.47,
 1576329: 208.48,
 1579765: 208.5,
 1584961: 208.6,
 1586841: 208.51,
 1595793: 208.52,
 1604585: 208.48,
 1605541: 208.49,
 1609013: 208.5,
 1638369: 208.46,
 1639029: 208.42,
 1639265: 208.44,
 1639585: 208.46,
 1642397: 208.42,
 1643245: 208.77,
 1643269: 208.44,
 1654193: 208.4,
 1657997: 195.0,
 1663313: 190.0,
 1668009: 185.0,
 1668829: 208.0,
 1668845: 208.6,
 1668849: 208.82,
 1668905: 208.81,
 1669045: 208.6,
 1669525: 208.36,
 1670225: 208.37,
 1677725: 180.0,
 1680709: 208.85,
 1682701: 208.84,
 1683465: 175.0,
 1685097: 208.38,
 1715321: 208.39,
 1718737: 208.32,
 1718741: 208.82,
 1718921: 208.76,
 1720369: 208.33,
 1721133: 208.34,
 1723901: 208.75,
 1728721: 208.35,
 1728741: 208.79,
 1729397: 208.78,
 1730685: 208.0,
 1736481: 208.25,
 1736485: 208.76,
 1736697: 208.7,
 1736773: 208.67,
 1736945: 208.26,
 1736965: 208.65,
 1737273: 208.5,
 1739521: 208.55,
 1739825: 208.28,
 1739865: 208.5,
 1742713: 208.23,
 1743505: 208.26,
 1745745: 208.64,
 1749957: 208.4,
 1750501: 208.2,
 1758917: 208.41,
 1760089: 208.42,
 1760469: 208.29,
 1761225: 208.94,
 1761229: 208.99,
 1764649: 208.32,
 1764725: 215.13,
 1765129: 208.29,
 1767849: 208.3,
 1768797: 200.0,
 1769869: 208.32,
 1774941: 208.33,
 1778069: 208.79,
 1778093: 208.78,
 1778097: 208.83,
 1779353: 198.1,
 1786521: 208.36,
 1786565: 208.33,
 1789081: 208.34,
 1810929: 208.5,
 1812873: 190.13,
 1815729: 208.35,
 1819185: 208.36,
 1819437: 208.31,
 1819545: 208.36,
 1821973: 208.31,
 1822045: 208.33,
 1825809: 208.35,
 1826017: 208.37,
 1826141: 208.32,
 1826181: 181.31,
 1828273: 208.34,
 1829729: 208.3,
 1830941: 208.32,
 1833813: 208.34,
 1834297: 208.36,
 1834521: 208.29,
 1834745: 208.32,
 1868857: 208.45,
 1878825: 208.4,
 1915341: 208.33,
 1927761: 208.29,
 1929117: 208.31,
 1929953: 208.32,
 1931905: 208.33,
 1932097: 208.34,
 1932281: 208.35,
 1932493: 208.36,
 1934053: 208.29,
 1934341: 208.3,
 1940793: 208.32,
 1941205: 208.34,
 1941693: 208.36,
 1943985: 208.28,
 1944213: 208.31,
 1945825: 208.34,
 1946137: 208.32,
 1946633: 208.35,
 1948169: 208.3,
 1948857: 208.31,
 1953873: 208.32,
 1961957: 208.5,
 1968397: 208.33,
 1968601: 208.35,
 1968965: 208.36,
 1974873: 208.56,
 1974901: 208.77,
 1975705: 208.25,
 1979317: 208.56,
 1979341: 208.93,
 1979501: 208.4,
 1979697: 208.88,
 1979849: 209.02,
 1980621: 208.35,
 1980625: 208.97,
 1980833: 208.31,
 1980837: 208.93,
 1983905: 208.33,
 1984729: 208.36,
 1987573: 208.64,
 1991833: 208.92,
 2008077: 212.0,
 2037837: 209.0,
 2049521: 208.57,
 2054137: 208.37,
 2067149: 208.9,
 2067269: 208.88,
 2067541: 208.86,
 2067837: 208.9,
 2067841: 208.38,
 2068741: 208.88,
 2069357: 208.86,
 2069897: 208.9,
 2073917: 208.89,
 2084325: 208.34,
 2084465: 208.87,
 2084669: 208.37,
 2084853: 208.91,
 2085309: 208.89,
 2090653: 208.5,
 2091705: 208.87,
 2091885: 208.84,
 2092053: 208.89,
 2097705: 208.88,
 2102033: 208.87,
 2131517: 208.92,
 2131521: 208.32,
 2131737: 208.37,
 2133393: 208.39,
 2135677: 208.41,
 2137437: 208.43,
 2137493: 208.98,
 2137665: 208.44,
 2140785: 208.45,
 2142325: 208.47,
 2145429: 208.49,
 2146365: 209.17,
 2146829: 209.03,
 2146857: 208.5,
 2146925: 208.52,
 2147545: 208.53,
 2155885: 208.54,
 2158029: 208.55,
 2176097: 207.9,
 2178581: 209.36,
 2178633: 209.07,
 2179133: 208.55,
 2180153: 208.56,
 2180157: 209.06,
 2180225: 209.03,
 2180229: 208.37,
 2180393: 208.4,
 2180817: 208.33,
 2180821: 209.01,
 2180837: 208.37,
 2180841: 209.32,
 2180861: 208.44,
 2180865: 209.08,
 2180957: 208.4,
 2181129: 208.42,
 2181333: 208.39,
 2181873: 208.4,
 2181945: 208.38,
 2182029: 208.44,
 2182137: 208.4,
 2182669: 209.06,
 2182673: 208.42,
 2182841: 208.44,
 2182845: 209.04,
 2182969: 208.46,
 2183221: 208.4,
 2183769: 208.42,
 2186801: 209.03,
 2188249: 208.44,
 2202653: 208.46,
 2202657: 209.01,
 2203305: 208.44,
 2210601: 209.0,
 2212013: 208.89,
 2216573: 208.88,
 2230765: 208.4,
 2234485: 208.87,
 2243229: 208.41,
 2251825: 220.0,
 2256109: 208.42,
 2256957: 208.91,
 2256973: 208.43,
 2259765: 208.9,
 2268937: 208.89,
 2272897: 209.3,
 2282569: 208.88,
 2290901: 213.0,
 2330261: 208.92,
 2330289: 208.44,
 2331761: 208.45,
 2334965: 208.46,
 2335969: 208.47,
 2336045: 208.96,
 2337481: 208.95,
 2341073: 208.48,
 2341629: 208.38,
 2341633: 208.94,
 2341709: 208.43,
 2341817: 208.41,
 2341821: 208.91,
 2344041: 208.55,
 2347061: 208.42,
 2347885: 208.43,
 2348929: 208.44,
 2350161: 208.95,
 2350173: 208.45,
 2352173: 208.94,
 2353545: 214.5,
 2354673: 208.93,
 2359357: 208.46,
 2365569: 215.0,
 2375033: 215.5,
 2388893: 208.47,
 2389633: 208.97,
 2391149: 208.95,
 2391449: 208.94,
 2392077: 208.93,
 2394965: 208.92,
 2395665: 216.0,
 2399141: 208.43,
 2399453: 208.44,
 2401329: 208.91,
 2405605: 208.45,
 2407353: 208.46,
 2411553: 216.5,
 2416753: 205.0,
 2419185: 217.0,
 2423061: 208.42,
 2423525: 208.43,
 2425233: 208.5,
 2426733: 208.9,
 2442325: 208.44,
 2446029: 208.89,
 2446265: 208.4,
 2446681: 208.41,
 2451009: 208.42,
 2452853: 208.43,
 2568389: 208.44,
 2568909: 208.4,
 2571805: 208.41,
 2579073: 191.6,
 2586333: 208.42,
 2588573: 208.5,
 2588705: 208.5,
 2589169: 208.5,
 2589533: 208.5,
 2589609: 208.44,
 2592741: 208.46,
 2593085: 208.41,
 2596601: 208.43,
 2598157: 208.46,
 2598165: 208.46,
 2598221: 208.83,
 2598225: 208.39,
 2598233: 208.78,
 2598585: 208.26,
 2599037: 208.4,
 2599045: 208.73,
 2599085: 208.4,
 2599337: 208.69,
 2603441: 208.76,
 2603545: 208.89,
 2604749: 208.84,
 2606545: 208.83,
 2606949: 208.27,
 2607145: 208.33,
 2608617: 210.0,
 2609993: 208.34,
 2609997: 208.87,
 2616781: 208.86,
 2619717: 208.35,
 2619997: 208.91,
 2620001: 208.37,
 2620093: 208.37,
 2620193: 208.94,
 2620201: 208.34,
 2620205: 208.37,
 2620369: 208.34,
 2620469: 208.98,
 2620749: 208.96,
 2621453: 208.28,
 2621457: 208.94,
 2621461: 208.34,
 2621601: 208.3,
 2621605: 208.98,
 2622257: 208.32,
 2622261: 208.96,
 2623997: 208.95,
 2625213: 210.5,
 2625437: 208.34,
 2627333: 208.36,
 2627641: 208.36,
 2628113: 208.31,
 2629153: 208.85,
 2636473: 208.32,
 2636477: 208.26,
 2636481: 208.26,
 2636769: 208.21,
 2641957: 208.99,
 2643289: 208.98,
 2654585: 208.97,
 2664781: 208.0,
 2665781: 208.93,
 2665945: 208.95,
 2667877: 208.94,
 2690861: 208.2,
 2730641: 190.0,
 2737805: 208.5,
 2737837: 208.28,
 2745253: 208.29,
 2745745: 208.31,
 2746465: 208.33,
 2760701: 209.3,
 2764941: 208.93,
 2764945: 208.29,
 2766325: 208.92,
 2774329: 208.91,
 2787409: 208.31,
 2787605: 208.38,
 2807973: 208.39,
 2816513: 208.3,
 2838869: 208.3,
 2840909: 208.31,
 2842529: 208.95,
 2843709: 208.94,
 2878149: 208.93,
 2891925: 208.33,
 2893521: 208.4,
 2901357: 208.41,
 2905765: 208.42,
 2906133: 208.45,
 2906157: 208.31,
 2906409: 208.26,
 2928673: 208.6,
 2928713: 208.44,
 2928853: 208.46,
 2929325: 208.46,
 2929705: 208.46,
 2948297: 209.3,
 2958397: 208.33,
 2972105: 208.4,
 2976733: 207.47,
 2986873: 208.92,
 2991397: 208.47,
 2998465: 208.2,
 3005245: 208.91,
 3032449: 208.6,
 3041381: 208.4,
 3041629: 208.42,
 3042061: 208.43,
 3047005: 208.44,
 3052645: 208.9,
 3052681: 208.4,
 3053709: 208.42,
 3056405: 208.44,
 3056621: 208.42,
 3058949: 208.43,
 3059105: 208.41,
 3059341: 208.43,
 3059457: 208.47,
 3059905: 208.46,
 3063645: 208.42,
 3063841: 208.44,
 3063993: 208.46,
 3066785: 208.42,
 3067305: 208.44,
 3096781: 209.15,
 3098741: 208.47,
 3098849: 208.42,
 3100585: 208.44,
 3101069: 208.4,
 3101117: 208.44,
 3101121: 208.41,
 3101125: 208.42,
 3101209: 208.37,
 3113893: 208.94,
 3114661: 208.93,
 3127313: 209.02,
 3127541: 208.32,
 3127649: 208.4,
 3127949: 208.35,
 3129825: 209.01,
 3130253: 209.05,
 3131561: 209.04,
 3137725: 208.31,
 3137729: 208.4,
 3137881: 208.35,
 3141157: 208.27,
 3141161: 208.41,
 3141173: 208.41,
 3141373: 208.36,
 3143285: 209.13,
 3143841: 208.25,
 3143865: 208.41,
 3143957: 208.36,
 3144973: 209.12,
 3145161: 211.5,
 3158505: 211.12,
 3163373: 208.3,
 3179757: 209.11,
 3180189: 209.09,
 3180505: 209.08,
 3182945: 209.07,
 3189337: 208.75,
 3189341: 208.4,
 3189501: 208.44,
 3190285: 208.0,
 3190849: 208.47,
 3191013: 208.56,
 3193297: 208.57,
 3193897: 208.53,
 3193957: 209.06,
 3193973: 208.51,
 3194181: 208.53,
 3195021: 209.05,
 3196717: 208.75,
 3200545: 208.49,
 3200597: 209.04,
 3200793: 208.51,
 3201705: 208.52,
 3215109: 209.09,
 3215113: 208.54,
 3215217: 208.63,
 3215221: 209.15,
 3215553: 208.65,
 3215765: 209.2,
 3215881: 209.17,
 3217605: 208.48,
 3217685: 209.16,
 3217741: 208.61,
 3233857: 208.9,
 3233885: 208.5,
 3233889: 209.32,
 3233949: 208.56,
 3233953: 209.16,
 3234025: 208.59,
 3234089: 208.54,
 3234093: 209.14,
 3234601: 208.56,
 3234813: 208.59,
 3234817: 209.18,
 3235261: 208.56,
 3235265: 209.16,
 3235577: 208.61,
 3235581: 209.15,
 3236041: 208.54,
 3236061: 208.8,
 3236389: 208.57,
 3236657: 208.64,
 3236661: 209.21,
 3236893: 209.16,
 3237021: 208.9,
 3237249: 208.57,
 3237257: 209.14,
 3237309: 208.59,
 3237393: 208.95,
 3237481: 209.12,
 3237573: 209.1,
 3238005: 208.6,
 3238797: 209.2,
 3240061: 208.51,
 3240165: 209.14,
 3240929: 208.58,
 3240933: 209.13,
 3241045: 209.11,
 3243277: 208.61,
 3244057: 209.09,
 3244933: 209.13,
 3244993: 208.54,
 3245157: 208.58,
 3245245: 209.11,
 3245725: 208.59,
 3245797: 209.09,
 3247417: 208.6,
 3247729: 208.56,
 3247877: 208.58,
 3247889: 209.13,
 3248077: 209.11,
 3248729: 208.59,
 3252437: 209.47,
 3252577: 209.09,
 3252881: 208.6,
 3253613: 209.13,
 3253617: 208.56,
 3253737: 208.58,
 3254153: 209.11,
 3254769: 208.59,
 3256013: 209.09,
 3256233: 208.61,
 3256777: 208.9,
 3256789: 209.07,
 3260413: 208.63,
 3268553: 197.56,
 3268557: 220.2,
 3272209: 209.5,
 3280529: 208.57,
 3280849: 209.11,
 3280853: 208.59,
 3281397: 209.16,
 3283457: 209.14,
 3283461: 208.62,
 3283529: 209.12,
 3285981: 208.64,
 ...}

In [104]:
aapl_df["Price"] = aapl_df["Ref"].apply(lambda x: price_dic[int(x)])

In [111]:
aapl_df

,Message_code,Locate,Track,Ts,Ref,Shares,Match,Stock_normalized,Ts_norm,Price
0,E,14,2,14602436281050,146845,100,17811.0,AAPL,2023-02-27 04:03:22.436281,209.45
1,E,14,2,14912188415020,140473,8,17905.0,AAPL,2023-02-27 04:08:32.188415,209.40
2,E,14,2,14914352456248,140473,92,17906.0,AAPL,2023-02-27 04:08:34.352456,209.40
3,E,14,4,14914352456248,220569,8,17907.0,AAPL,2023-02-27 04:08:34.352456,209.34
4,E,14,2,14936714684440,242225,300,17915.0,AAPL,2023-02-27 04:08:56.714684,209.45
...,...,...,...,...,...,...,...,...,...,...
642,E,14,2,34200892798462,9834701,1,177231.0,AAPL,2023-02-27 09:30:00.892798,208.51
643,E,14,2,34200945876852,9834725,100,187597.0,AAPL,2023-02-27 09:30:00.945877,208.51
644,E,14,4,34200945876852,9834953,16,187598.0,AAPL,2023-02-27 09:30:00.945877,208.51
645,E,14,2,34201188675197,9919529,16,222597.0,AAPL,2023-02-27 09:30:01.188675,208.61
646,E,14,4,34201188675197,9919537,5,222598.0,AAPL,2023-02-27 09:30:01.188675,208.61

In [110]:
#VWAP Calc:
sum(aapl_df["Shares"].astype(int) * aapl_df["Price"])/aapl_df["Shares"].astype(int).sum()

208.3076886774643

In [54]:
aapl_mpid_adds

,Mess,Stock,track,ts,match,side,shares,stock_name,price,mpid
0,F,14,0,27537701776068,4009485,B,100.0,AAPL,0.01,NITE
1,F,14,0,27537701781491,4009489,S,100.0,AAPL,199999.99,NITE
2,F,14,0,32047771123323,6600101,B,100.0,AAPL,171.47,SGAS
3,F,14,0,32047771140623,6600105,S,100.0,AAPL,244.24,SGAS
4,F,14,0,32050751925530,6606301,B,100.0,AAPL,171.47,SGAS
...,...,...,...,...,...,...,...,...,...,...
89,F,14,0,34200284491468,5510453,S,40,AAPL,209.00,UBSS
90,F,14,0,34200284491468,7325717,S,62,AAPL,209.00,UBSS
91,F,14,0,34200703980871,6018497,S,30.0,AAPL,209.20,UBSS
92,F,14,0,34200774686779,9789945,B,100.0,AAPL,166.85,UBSS
93,F,14,0,34200874465854,9827777,S,100.0,AAPL,250.39,UBSS

In [59]:
stock_df["Ts_seconds"] = datetime.datetime(2023,2,27) + datetime.timedelta(seconds = 11240)

0       11240.690615
1       11240.690741
2       11240.690787
3       11240.690841
4       11240.690885
            ...
8844    11240.925384
8845    11240.925419
8846    11240.925446
8847    11240.925471
8848    11240.925496
Name: Ts_seconds, Length: 8849, dtype: float64

In [62]:
aapl_adds
aapl_cancels
aapl_mpid_adds
aapl_dels
aapl_replaces

In [112]:
aapl_adds

     Mess  Stock  Track              Ts    Order BS  Shares Stock_name   Price
0       A     14      0  14400023941081    17613  B      53       AAPL  189.86
1       A     14      0  14400756946890    52437  S       1       AAPL  217.05
2       A     14      0  14400761460097    52669  B       1       AAPL  205.20
3       A     14      0  14400769923694    53005  B       3       AAPL  201.48
4       A     14      0  14400771392054    53069  S       2       AAPL  228.00
...   ...    ...    ...             ...      ... ..     ...        ...     ...
5571    A     14      0  34201097623576  9919517  B   100.0       AAPL  208.61
5572    A     14      0  34201097676372  9919537  B     5.0       AAPL  208.61
5573    A     14      0  34201140584010  9927785  S  1200.0       AAPL  208.66
5574    A     14      0  34201259074296  9948741  B   250.0       AAPL  208.52
5575    A     14      0  34201265007632  9949761  S   100.0       AAPL  210.69

[5576 rows x 9 columns]

In [113]:
aapl_mpid_adds

,Mess,Stock,track,ts,match,side,shares,stock_name,price,mpid
0,F,14,0,27537701776068,4009485,B,100.0,AAPL,0.01,NITE
1,F,14,0,27537701781491,4009489,S,100.0,AAPL,199999.99,NITE
2,F,14,0,32047771123323,6600101,B,100.0,AAPL,171.47,SGAS
3,F,14,0,32047771140623,6600105,S,100.0,AAPL,244.24,SGAS
4,F,14,0,32050751925530,6606301,B,100.0,AAPL,171.47,SGAS
...,...,...,...,...,...,...,...,...,...,...
89,F,14,0,34200284491468,5510453,S,40,AAPL,209.00,UBSS
90,F,14,0,34200284491468,7325717,S,62,AAPL,209.00,UBSS
91,F,14,0,34200703980871,6018497,S,30.0,AAPL,209.20,UBSS
92,F,14,0,34200774686779,9789945,B,100.0,AAPL,166.85,UBSS
93,F,14,0,34200874465854,9827777,S,100.0,AAPL,250.39,UBSS

In [118]:
aapl_adds.columns = ['Mess', 'Stock', 'track', 'ts', 'match', 'side', 'shares', 'stock_name','price']

In [131]:
adds_df = pd.concat([aapl_adds,aapl_mpid_adds])

In [125]:
aapl_dels

     Mess  stock  track              ts    match
0       D     14      0  14409720576443    99549
1       D     14      0  14409720652458    99553
2       D     14      0  14417030024911    99645
3       D     14      0  14531727649781   104297
4       D     14      0  14531727713641   104177
...   ...    ...    ...             ...      ...
3218    D     14      0  34200914121450  9834853
3219    D     14      0  34200914121667  9834701
3220    D     14      0  34201097673258  9844553
3221    D     14      0  34201101642862  9919517
3222    D     14      0  34201264998150  9844505

[3223 rows x 5 columns]

In [126]:
aapl_replaces

   Mess  stock  track              ts   match1   match2 shares   price
0     U     14      0  34140265906478  9170025  9173997    100  214.73
1     U     14      0  34156614968284  9170021  9210005    100  202.07
2     U     14      0  34156615015926  9173997  9210013    100  214.71
3     U     14      0  34156630598645  9210013  9210041    100  214.66
4     U     14      0  34164035937297  9210005  9225325    100  202.00
..  ...    ...    ...             ...      ...      ...    ...     ...
63    U     14      0  34200931996535  9834729  9850401  100.0  214.97
64    U     14      0  34201097668069  9834953  9919529   16.0  208.61
65    U     14      0  34201097794810  9837441  9919569  100.0  202.35
66    U     14      0  34201143374704  9919569  9928173  100.0  202.25
67    U     14      0  34201143393570  9850401  9928181  100.0  214.92

[68 rows x 8 columns]

In [124]:
aapl_cancels

   Mess  stock  track              ts    match shares stock_name
0     X     14      0  19843248546060   665097      4       AAPL
1     X     14      0  29029436117009  5032457    100       AAPL
2     X     14      0  29163339026316  5136353      5       AAPL
3     X     14      0  29585349397538  5287781    574       AAPL
4     X     14      0  29670384095385  5287781     10       AAPL
5     X     14      0  32343722414878  6731421      6       AAPL
6     X     14      0  32344313096913  6731421      1       AAPL
7     X     14      0  32346379562677  6731421      7       AAPL
8     X     14      0  32346952246952  6731421     32       AAPL
9     X     14      0  32347073361379  6731421      1       AAPL
10    X     14      0  32372190503760  6731421      3       AAPL
11    X     14      0  32374496621907  6731421      8       AAPL
12    X     14      0  32374680202669  6731421      4       AAPL
13    X     14      0  32375601256943  6731421      2       AAPL
14    X     14      0  32605392800159  7154109      2       AAPL
15    X     14      0  32609135674833  6844753     13       AAPL
16    X     14      0  32712676657816  7235833     50       AAPL
17    X     14      0  32731176640542  7235833      3       AAPL
18    X     14      0  33175284921905  7499941    100       AAPL
19    X     14      0  33229670508024  7499941      1       AAPL
20    X     14      0  33356746512243  7621085     10       AAPL
21    X     14      0  33385704970203  7621085     25       AAPL
22    X     14      0  33855305522909  7943617      1       AAPL
23    X     14      0  33885730595732  7943617      1       AAPL
24    X     14      0  34009740755832  7943617      5       AAPL
25    X     14      0  34027320740315  7943617      2       AAPL

In [129]:
changes_df = pd.concat([aapl_replaces,aapl_cancels,aapl_dels]).sort_values(['ts'])

In [146]:
aapl_dels["match"][0]

99549

In [147]:
set(aapl_replaces["match2"]).intersection(set(aapl_dels["match"]))

{9383309}

In [153]:
adds_df

,Mess,Stock,track,ts,match,side,shares,stock_name,price,mpid
0,A,14,0,14400023941081,17613,B,53,AAPL,189.86,NaN
1,A,14,0,14400756946890,52437,S,1,AAPL,217.05,NaN
2,A,14,0,14400761460097,52669,B,1,AAPL,205.20,NaN
3,A,14,0,14400769923694,53005,B,3,AAPL,201.48,NaN
4,A,14,0,14400771392054,53069,S,2,AAPL,228.00,NaN
...,...,...,...,...,...,...,...,...,...,...
89,F,14,0,34200284491468,5510453,S,40,AAPL,209.00,UBSS
90,F,14,0,34200284491468,7325717,S,62,AAPL,209.00,UBSS
91,F,14,0,34200703980871,6018497,S,30.0,AAPL,209.20,UBSS
92,F,14,0,34200774686779,9789945,B,100.0,AAPL,166.85,UBSS
93,F,14,0,34200874465854,9827777,S,100.0,AAPL,250.39,UBSS

In [155]:
final_adds = adds_df[~adds_df["match"].isin(aapl_dels["match"])]

In [163]:
aapl_df

,Message_code,Locate,Track,Ts,Ref,Shares,Match,Stock_normalized,Ts_norm,Price
0,E,14,2,14602436281050,146845,100,17811.0,AAPL,2023-02-27 04:03:22.436281,209.45
1,E,14,2,14912188415020,140473,8,17905.0,AAPL,2023-02-27 04:08:32.188415,209.40
2,E,14,2,14914352456248,140473,92,17906.0,AAPL,2023-02-27 04:08:34.352456,209.40
3,E,14,4,14914352456248,220569,8,17907.0,AAPL,2023-02-27 04:08:34.352456,209.34
4,E,14,2,14936714684440,242225,300,17915.0,AAPL,2023-02-27 04:08:56.714684,209.45
...,...,...,...,...,...,...,...,...,...,...
642,E,14,2,34200892798462,9834701,1,177231.0,AAPL,2023-02-27 09:30:00.892798,208.51
643,E,14,2,34200945876852,9834725,100,187597.0,AAPL,2023-02-27 09:30:00.945877,208.51
644,E,14,4,34200945876852,9834953,16,187598.0,AAPL,2023-02-27 09:30:00.945877,208.51
645,E,14,2,34201188675197,9919529,16,222597.0,AAPL,2023-02-27 09:30:01.188675,208.61
646,E,14,4,34201188675197,9919537,5,222598.0,AAPL,2023-02-27 09:30:01.188675,208.61

In [166]:
buys = adds_df[adds_df["side"] == "B"]
sells = adds_df[adds_df["side"] == "S"]

In [171]:
just_needed = buys[["price","shares"]].sort_values("price", ascending=False)

In [188]:
just_needed.groupby(by=["price"])["shares"].sum().reset_index()

        price  shares
0      0.0001   201.0
1      0.0010     1.0
2      0.0100   111.0
3      0.0500  4000.0
4      0.1000    11.0
..        ...     ...
533  209.4500   100.0
534  209.4900   170.0
535  209.5000   300.0
536  209.5200   100.0
537  209.5500   200.0

[538 rows x 2 columns]